{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {}
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", { "loose": true, "modules": "commonjs" }],
    "@babel/preset-typescript"
  ]
}
